*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary:rgb(255, 56, 92);
    --font-bold: 'air-bold';
    --font-medium: 'air-medium';
    --font-book: 'air-book';
}

@font-face {
    font-family: "air-bold";
    src: url(/assets/fonts/Airbnb_Cereal-Bold-bdfb98485e7836ba31b456f65cded088.woff2);
}

@font-face {
    font-family: "air-medium";
    src: url(/assets/fonts/Airbnb_Cereal-Medium-50fc004b3082375f12ff0cfb67bf8e56.woff2);
}

@font-face {
    font-family: "air-book";
    src: url(/assets/fonts/Airbnb_Cereal-Book-9a1c9cca9bb3d65fefa2aa487617805e.woff2);
}

.logo{  
    height: 100%; 
    display: flex; 
    align-items: center; 
    justify-content: space-between;
    flex-grow: 1;
}
.nav-center-btn-stays{
    color: rgb(34, 34, 34);
    font-family: var(--font-medium);
    font-size: 16px;
    /* font-weight: 500; */
}
.nav-center-btn-experiences{
    color: rgb(106, 106, 106);
    font-family: var(--font-book);
    font-size: 16px;
    /* font-weight: 500; */
}
.nav-search-container{
    background-color :rgb(255, 255, 255);
    border-color :rgb(221, 221, 221);
    border-radius :32px;
    border-style :solid;
    border-width :1px;
    height: 66px;
    display: flex;
    position: absolute;
    top: 66px;
    display: none;
    

}
.nav-search-input{
    
    border-bottom-color: rgb(34, 34, 34);
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(34, 34, 34);
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: rgb(34, 34, 34);
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: rgb(34, 34, 34);
    border-top-style: none;
    border-top-width: 0px;
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    cursor: text;
    display: block;
    font-family: var(--font-book);
    font-feature-settings: normal;
    font-kerning: auto;
    font-optical-sizing: auto;
    font-size: 14px;
    font-size-adjust: none;
    font-stretch: 100%;
    font-style: normal;
    font-weight: 500;
    height: 18px;
    letter-spacing: normal;
    line-break: strict
}
.divider{
    align-self: center;
    border-right-color: rgb(221, 221, 221);
    border-right-style: solid;
    border-right-width: 1px;
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    display: block;
    flex-basis: 0px;
    flex-grow: 0;
    flex-shrink: 0;
    height: 32px;
    line-break: strict;
    line-height: 20.02px;
    pointer-events: auto;
    text-align: left;
    text-size-adjust: 100%;
    width: 1px;

}

.user-btn{
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-color: rgb(221, 221, 221);
    border-radius: 30px;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
    color: rgb(34, 34, 34);
    cursor: pointer;
    display: inline-flex;
    font-family: var(--font-book);
    font-weight: 400;
    height: 48px;
    letter-spacing: normal;
    line-height: 20px;
    outline-color: rgb(34, 34, 34);
    padding-left: 14px;
    padding-right: 8px;
   
    position: relative;
    text-align: start;
    text-decoration-color: rgb(34, 34, 34);
    width: 86px;
}